<!DOCTYPE html>
<html>
<head>
    <title>Администрирование</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/main.css">
</head>
<body>
<div class="container-fluid">
    <div class="row text-center">
        <h1>Каталог пицерии:</h1>
        {% for meal in meals %}
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                <p>Пицца {{ meal.title }}</p>
                <p>Описание {{ meal.description}}</p>
                <p>Перавая опция: {{meal.first_option.size}} за {{meal.first_option.price}} р.</p>
                <p>Вторая опция: {{meal.second_option.size}} за {{meal.second_option.price}} р.</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</body>
</html>